header {
background-color: #ecadff;
color: rgb(200, 231, 205)
text-align: center;
max-width: 800px;
margin: 0 auto;
}  

main { 
background-color: #c1e5fd;
color:#000000;
max-width: 800px;
margin: 0 auto;
}