header {
background-color: #400d50;
color: rgb(53, 158, 71)
text-align: center;
max-width: 800px;
margin: 0 auto;
}  

main { 
background-color: #4797cc;
color:#7e0c0c;
max-width: 800px;
margin: 0 auto;
}